Proxy Web Services/tags/v1.1.2.0/TestWebService/Web References/SAWebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.pbstest.org/SAWebService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservices.pbstest.org/SAWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service for PBS-BroadView-ScheduALL integration</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.pbstest.org/SAWebService">
      <s:element name="CloseSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="OpenSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userProfile" type="tns:UserProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserProfile">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserProfileBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="oOperatingGroup" type="tns:ArrayOfString" />
              <s:element minOccurs="1" maxOccurs="1" name="nOperatingUnit" type="s:short" />
              <s:element minOccurs="1" maxOccurs="1" name="nUnitType" type="s:short" />
              <s:element minOccurs="1" maxOccurs="1" name="nRole" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="sExternalEmail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="sPhoneNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UserProfileBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sConnectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sLastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="sCode" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OpenSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMediaCutsInfoSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSearchCriterion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchCriterion" nillable="true" type="tns:SearchCriterion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchCriterion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SearchField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListMediaCutsInfoSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMediaCutsInfoSessionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailedAirDateSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nMediaInventoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailedAirDateSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDetailedAirDateSessionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPackageCutsInfoSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPackageCutsInfoSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListPackageCutsInfoSessionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPackageMediaInfoSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPackageMediaInfoSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListPackageMediaInfoSessionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMediaAirDateSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMediaHouseNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nTune_value" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMediaAirDateSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchMediaAirDateSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPackageAirDateSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPackageNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nTune_value" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPackageAirDateSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPackageAirDateSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMediaInfoSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMediaInfoSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchMediaInfoSessionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPackageInfoSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPackageInfoSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPackageInfoSessionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMediaCutsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListMediaCutsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMediaCutsInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailedAirDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nMediaInventoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailedAirDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDetailedAirDateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPackageCutsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPackageCutsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListPackageCutsInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPackageMediaInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPackageMediaInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListPackageMediaInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMediaAirDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMediaHouseNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nTune_value" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMediaAirDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchMediaAirDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPackageAirDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPackageNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nTune_value" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPackageAirDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPackageAirDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchFeatureAirDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intFeatureMediaInventoryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nTune_value" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchFeatureAirDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchFeatureAirDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMediaInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMediaInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchMediaInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPackageInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCriteria" type="tns:ArrayOfSearchCriterion" />
            <s:element minOccurs="1" maxOccurs="1" name="nMaxRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPackageInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPackageInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CloseSessionSoapIn">
    <wsdl:part name="parameters" element="tns:CloseSession" />
  </wsdl:message>
  <wsdl:message name="CloseSessionSoapOut">
    <wsdl:part name="parameters" element="tns:CloseSessionResponse" />
  </wsdl:message>
  <wsdl:message name="OpenSessionSoapIn">
    <wsdl:part name="parameters" element="tns:OpenSession" />
  </wsdl:message>
  <wsdl:message name="OpenSessionSoapOut">
    <wsdl:part name="parameters" element="tns:OpenSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ListMediaCutsInfoSessionSoapIn">
    <wsdl:part name="parameters" element="tns:ListMediaCutsInfoSession" />
  </wsdl:message>
  <wsdl:message name="ListMediaCutsInfoSessionSoapOut">
    <wsdl:part name="parameters" element="tns:ListMediaCutsInfoSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetDetailedAirDateSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetailedAirDateSession" />
  </wsdl:message>
  <wsdl:message name="GetDetailedAirDateSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetailedAirDateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ListPackageCutsInfoSessionSoapIn">
    <wsdl:part name="parameters" element="tns:ListPackageCutsInfoSession" />
  </wsdl:message>
  <wsdl:message name="ListPackageCutsInfoSessionSoapOut">
    <wsdl:part name="parameters" element="tns:ListPackageCutsInfoSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ListPackageMediaInfoSessionSoapIn">
    <wsdl:part name="parameters" element="tns:ListPackageMediaInfoSession" />
  </wsdl:message>
  <wsdl:message name="ListPackageMediaInfoSessionSoapOut">
    <wsdl:part name="parameters" element="tns:ListPackageMediaInfoSessionResponse" />
  </wsdl:message>
  <wsdl:message name="SearchMediaAirDateSessionSoapIn">
    <wsdl:part name="parameters" element="tns:SearchMediaAirDateSession" />
  </wsdl:message>
  <wsdl:message name="SearchMediaAirDateSessionSoapOut">
    <wsdl:part name="parameters" element="tns:SearchMediaAirDateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPackageAirDateSessionSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPackageAirDateSession" />
  </wsdl:message>
  <wsdl:message name="SearchPackageAirDateSessionSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPackageAirDateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="SearchMediaInfoSessionSoapIn">
    <wsdl:part name="parameters" element="tns:SearchMediaInfoSession" />
  </wsdl:message>
  <wsdl:message name="SearchMediaInfoSessionSoapOut">
    <wsdl:part name="parameters" element="tns:SearchMediaInfoSessionResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPackageInfoSessionSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPackageInfoSession" />
  </wsdl:message>
  <wsdl:message name="SearchPackageInfoSessionSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPackageInfoSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ListMediaCutsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ListMediaCutsInfo" />
  </wsdl:message>
  <wsdl:message name="ListMediaCutsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ListMediaCutsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDetailedAirDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetailedAirDate" />
  </wsdl:message>
  <wsdl:message name="GetDetailedAirDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetailedAirDateResponse" />
  </wsdl:message>
  <wsdl:message name="ListPackageCutsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ListPackageCutsInfo" />
  </wsdl:message>
  <wsdl:message name="ListPackageCutsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ListPackageCutsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ListPackageMediaInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ListPackageMediaInfo" />
  </wsdl:message>
  <wsdl:message name="ListPackageMediaInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ListPackageMediaInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SearchMediaAirDateSoapIn">
    <wsdl:part name="parameters" element="tns:SearchMediaAirDate" />
  </wsdl:message>
  <wsdl:message name="SearchMediaAirDateSoapOut">
    <wsdl:part name="parameters" element="tns:SearchMediaAirDateResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPackageAirDateSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPackageAirDate" />
  </wsdl:message>
  <wsdl:message name="SearchPackageAirDateSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPackageAirDateResponse" />
  </wsdl:message>
  <wsdl:message name="SearchFeatureAirDateSoapIn">
    <wsdl:part name="parameters" element="tns:SearchFeatureAirDate" />
  </wsdl:message>
  <wsdl:message name="SearchFeatureAirDateSoapOut">
    <wsdl:part name="parameters" element="tns:SearchFeatureAirDateResponse" />
  </wsdl:message>
  <wsdl:message name="SearchMediaInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SearchMediaInfo" />
  </wsdl:message>
  <wsdl:message name="SearchMediaInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SearchMediaInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPackageInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPackageInfo" />
  </wsdl:message>
  <wsdl:message name="SearchPackageInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPackageInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="SAWebServiceSoap">
    <wsdl:operation name="CloseSession">
      <wsdl:input message="tns:CloseSessionSoapIn" />
      <wsdl:output message="tns:CloseSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenSession">
      <wsdl:input message="tns:OpenSessionSoapIn" />
      <wsdl:output message="tns:OpenSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMediaCutsInfo">
      <wsdl:input name="ListMediaCutsInfoSession" message="tns:ListMediaCutsInfoSessionSoapIn" />
      <wsdl:output name="ListMediaCutsInfoSession" message="tns:ListMediaCutsInfoSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedAirDate">
      <wsdl:input name="GetDetailedAirDateSession" message="tns:GetDetailedAirDateSessionSoapIn" />
      <wsdl:output name="GetDetailedAirDateSession" message="tns:GetDetailedAirDateSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPackageCutsInfo">
      <wsdl:input name="ListPackageCutsInfoSession" message="tns:ListPackageCutsInfoSessionSoapIn" />
      <wsdl:output name="ListPackageCutsInfoSession" message="tns:ListPackageCutsInfoSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPackageMediaInfo">
      <wsdl:input name="ListPackageMediaInfoSession" message="tns:ListPackageMediaInfoSessionSoapIn" />
      <wsdl:output name="ListPackageMediaInfoSession" message="tns:ListPackageMediaInfoSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchMediaAirDate">
      <wsdl:input name="SearchMediaAirDateSession" message="tns:SearchMediaAirDateSessionSoapIn" />
      <wsdl:output name="SearchMediaAirDateSession" message="tns:SearchMediaAirDateSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPackageAirDate">
      <wsdl:input name="SearchPackageAirDateSession" message="tns:SearchPackageAirDateSessionSoapIn" />
      <wsdl:output name="SearchPackageAirDateSession" message="tns:SearchPackageAirDateSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchMediaInfo">
      <wsdl:input name="SearchMediaInfoSession" message="tns:SearchMediaInfoSessionSoapIn" />
      <wsdl:output name="SearchMediaInfoSession" message="tns:SearchMediaInfoSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPackageInfo">
      <wsdl:input name="SearchPackageInfoSession" message="tns:SearchPackageInfoSessionSoapIn" />
      <wsdl:output name="SearchPackageInfoSession" message="tns:SearchPackageInfoSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMediaCutsInfo">
      <wsdl:input message="tns:ListMediaCutsInfoSoapIn" />
      <wsdl:output message="tns:ListMediaCutsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedAirDate">
      <wsdl:input message="tns:GetDetailedAirDateSoapIn" />
      <wsdl:output message="tns:GetDetailedAirDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPackageCutsInfo">
      <wsdl:input message="tns:ListPackageCutsInfoSoapIn" />
      <wsdl:output message="tns:ListPackageCutsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPackageMediaInfo">
      <wsdl:input message="tns:ListPackageMediaInfoSoapIn" />
      <wsdl:output message="tns:ListPackageMediaInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchMediaAirDate">
      <wsdl:input message="tns:SearchMediaAirDateSoapIn" />
      <wsdl:output message="tns:SearchMediaAirDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPackageAirDate">
      <wsdl:input message="tns:SearchPackageAirDateSoapIn" />
      <wsdl:output message="tns:SearchPackageAirDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchFeatureAirDate">
      <wsdl:input message="tns:SearchFeatureAirDateSoapIn" />
      <wsdl:output message="tns:SearchFeatureAirDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchMediaInfo">
      <wsdl:input message="tns:SearchMediaInfoSoapIn" />
      <wsdl:output message="tns:SearchMediaInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPackageInfo">
      <wsdl:input message="tns:SearchPackageInfoSoapIn" />
      <wsdl:output message="tns:SearchPackageInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SAWebServiceSoap" type="tns:SAWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CloseSession">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/CloseSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenSession">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/OpenSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMediaCutsInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/ListMediaCutsInfoSession" style="document" />
      <wsdl:input name="ListMediaCutsInfoSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListMediaCutsInfoSession">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailedAirDate">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/GetDetailedAirDateSession" style="document" />
      <wsdl:input name="GetDetailedAirDateSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDetailedAirDateSession">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPackageCutsInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/ListPackageCutsInfoSession" style="document" />
      <wsdl:input name="ListPackageCutsInfoSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListPackageCutsInfoSession">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPackageMediaInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/ListPackageMediaInfoSession" style="document" />
      <wsdl:input name="ListPackageMediaInfoSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListPackageMediaInfoSession">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaAirDate">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchMediaAirDateSession" style="document" />
      <wsdl:input name="SearchMediaAirDateSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchMediaAirDateSession">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackageAirDate">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchPackageAirDateSession" style="document" />
      <wsdl:input name="SearchPackageAirDateSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchPackageAirDateSession">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchMediaInfoSession" style="document" />
      <wsdl:input name="SearchMediaInfoSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchMediaInfoSession">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackageInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchPackageInfoSession" style="document" />
      <wsdl:input name="SearchPackageInfoSession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchPackageInfoSession">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMediaCutsInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/ListMediaCutsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailedAirDate">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/GetDetailedAirDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPackageCutsInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/ListPackageCutsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPackageMediaInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/ListPackageMediaInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaAirDate">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchMediaAirDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackageAirDate">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchPackageAirDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFeatureAirDate">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchFeatureAirDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchMediaInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackageInfo">
      <soap:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchPackageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SAWebServiceSoap12" type="tns:SAWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CloseSession">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/CloseSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenSession">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/OpenSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMediaCutsInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/ListMediaCutsInfoSession" style="document" />
      <wsdl:input name="ListMediaCutsInfoSession">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListMediaCutsInfoSession">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailedAirDate">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/GetDetailedAirDateSession" style="document" />
      <wsdl:input name="GetDetailedAirDateSession">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDetailedAirDateSession">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPackageCutsInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/ListPackageCutsInfoSession" style="document" />
      <wsdl:input name="ListPackageCutsInfoSession">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListPackageCutsInfoSession">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPackageMediaInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/ListPackageMediaInfoSession" style="document" />
      <wsdl:input name="ListPackageMediaInfoSession">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListPackageMediaInfoSession">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaAirDate">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchMediaAirDateSession" style="document" />
      <wsdl:input name="SearchMediaAirDateSession">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchMediaAirDateSession">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackageAirDate">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchPackageAirDateSession" style="document" />
      <wsdl:input name="SearchPackageAirDateSession">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchPackageAirDateSession">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchMediaInfoSession" style="document" />
      <wsdl:input name="SearchMediaInfoSession">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchMediaInfoSession">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackageInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchPackageInfoSession" style="document" />
      <wsdl:input name="SearchPackageInfoSession">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchPackageInfoSession">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMediaCutsInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/ListMediaCutsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailedAirDate">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/GetDetailedAirDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPackageCutsInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/ListPackageCutsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPackageMediaInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/ListPackageMediaInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaAirDate">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchMediaAirDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackageAirDate">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchPackageAirDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFeatureAirDate">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchFeatureAirDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchMediaInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackageInfo">
      <soap12:operation soapAction="http://webservices.pbstest.org/SAWebService/SearchPackageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SAWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service for PBS-BroadView-ScheduALL integration</wsdl:documentation>
    <wsdl:port name="SAWebServiceSoap" binding="tns:SAWebServiceSoap">
      <soap:address location="http://localhost/SAWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SAWebServiceSoap12" binding="tns:SAWebServiceSoap12">
      <soap12:address location="http://localhost/SAWebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>